@model IEnumerable<Category>

<a class="btn btn-success" href="/dashboard/category/create">Create</a>


@foreach (var category in Model)
{
        <div class="d-flex items-center justify-content-between mb-4">
            <p>@category.CategoryName</p>
            <a class="btn btn-danger" href="/dashboard/category/update/@category.Id">Edit</a>
        </div>
        
}

